# General ignore rules for the entire repo
node_modules/
*.log
*.env
.DS_Store

# Express specific rules
express/node_modules/
express/build/
express/logs/
express/*.log

# React specific rules
react/node_modules/
react/build/
react/.env.local
react/.env.development.local
react/.env.test.local
react/.env.production.local
react/npm-debug.log*

# Other ignore rules as needed
